body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8b4513;
    color: #fff;
}

nav {
    background-color: #edeade;
    overflow: hidden;
    color: #000;
}

nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: #8b4513;
    color: black;
}

header {
    background-color: #8b4513;
    padding: 80px 0;
    text-align: center;
    color: #fff;
}

section {
    padding: 40px 20px;
    border-bottom: 3px solid #edeade;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
    border: thick solid #edeade;
}

h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    font-size: 28px;
    color: #fff;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #000;
    background-color: #edeade;