/* styles.css */
body {
    background-color: #EDEADE; 
    margin: 0;
    padding: 0;
}
.banner {
    background-color: #8B4513;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.banner-image {
    max-width: 100%;
    height: auto;
}

.banner-image img {
    width: 100px;
    height: auto;
}

.banner-text {
    text-align: center;
    flex: 1; 
}

.title {
    font-size: 32px;
    margin: 0;
}

.our-team {
    font-size: 14px;
    margin-top: 20px;
}

.team-member {
    border: 2px solid #333;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    background-color: #8B4513; 
    color: black; 
    padding: 35px;
    text-align: center;
    margin: 20px 0; 
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 150%; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    margin-left: -40px;
}

.button a {
    text-decoration: none;
    color: black; 
    font-size: 18px; 
}

.button:hover {
    background-color: #f0f0f0; 
}